<!DOCTYPE html>
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/layout-padrao'"
	xmlns:brewer="http://brewer.com.br">
	
<head>
	<title>Pesquisa de Cerveja</title>
</head>
<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de Cervejas</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cervejas/cadastro}">
								<i class="glyphicon glyphicon-plus-sign"></i>
								<span class="hidden-xs hidden-sm">Nova Cerveja</span>
							</a>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="GET" th:object="${cervejaFilter}" class="form-vertical js-form-loading">
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="sku">SKU</label>
						<input type="text" class="form-control" id="sku" autofocus="autofocus" th:field="*{sku}"/>
					</div>
					
					<div class="form-group col-sm-6">
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
				</div>	
				
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="estilo">Estilo</label>
						<select id="estilo" class="form-control" th:field="*{estilo}">
							<option value="">Todos</option>
							<option th:each="estilo : ${estilos}" th:text="${estilo.nome}" th:value="${estilo.id}"></option>
						</select>
					</div>
					
					<div class="form-group col-sm-6">
						<label class="control-label" for="sabor">Sabor</label>
						<select id="sabor" class="form-control" th:field="*{sabor}">
							<option value="">Todos</option>
							<option th:each="sabor : ${sabores}" th:text="${sabor.descricao}" th:value="${sabor}"></option>
						</select>
					</div>
				</div>	
				
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="origem">Origem</label>
						<div>
							<th:block th:each="origem: ${origens}">
								<div class="radio radio-inline">
									<input type="radio" id="|id_${origem}|"	th:value="${origem}" th:field="*{origem}"/>
									<label th:for="|id_${origem}|" th:text="${origem.descricao}"></label>							
								</div>
							</th:block>
							<div class="radio radio-inline">
								<input type="radio" id="todasOrigens" name="origem" th:checked="true"/>
								<label for="todasOrigens">Todos</label>							
							</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label class="control-label" for="precoDe">Valor</label>
					<div class="form-inline">
						<input type="text" class="form-control aw-form-control-inline-sm js-decimal" id="precoDe" th:field="*{valorDe}"/>
						<label class="control-label" for="precoDe">até</label>
						<input type="text" class="form-control aw-form-control-inline-sm js-decimal" id="precoAte" th:field="*{valorAte}"/>
					</div>						
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary">Pesquisar</button>				
			</form>
			
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-foto"></th>
							<th class="table-cervejas-col-sku">
								<brewer:order page="${cervejas}" field="sku" text="SKU" />
							</th>
							<th class="table-cervejas-col-nome">
								<brewer:order page="${cervejas}" field="nome" text="Nome" />
							</th>
							<th class="table-cervejas-col-estilo" 	th:text="Estilo"/>
							<th class="table-cervejas-col-origem" 	th:text="Origem"/>
							<th class="table-cervejas-col-valor" 	th:text="Valor"	/>
							<th class="table-cervejas-col-acoes" 	th:text="Ações"	/>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cerveja : ${cervejas.content}">
							<td class="text-center">
								<img th:src="@{/brewer/images/thumbnail.{foto}(foto=${cerveja.fotoOrMock})}" class="img-responsive" alt="miniatura-cerveja"/>
							</td>
							<td class="text-center" th:text="${cerveja.sku}"></td>
							<td class="text-left"   th:text="${cerveja.nome}"></td>
							<td class="text-center" th:text="${cerveja.estilo.nome}"></td>
							<td class="text-center" th:text="${cerveja.origem.descricao}"></td>
							<td class="text-center" th:text="${cerveja.valor}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn btn-link btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						<tr>
						<tr th:if="${#lists.isEmpty(cervejas.content)}">
							<td colspan="7">Nenhuma cerveja encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<brewer:paginacao page="${cervejas}"/>
			<!-- <div class="col-sm-12 text-center" th:if="${not #lists.isEmpty(cervejas.content)}">
				<nav>
					<ul class="pagination pagination-sm ">
						<li th:class="${cervejas.first} ? disabled">
							<a th:remove="${cervejas.first} ? tag" th:href="${cervejas.urlPagina(cervejas.number - 1)}">
								<span>&laquo;</span>
							</a>
						</li>
						<th:block th:each="c : ${#numbers.sequence(1,cervejas.totalPages)}" th:with="numeroPagina=${c-1}">
							<li th:class="${cervejas.number == numeroPagina} ? active ">
								<a th:href="${cervejas.urlPagina(numeroPagina)}">
									<span>[[${c}]]</span>
								</a>
							</li>
						</th:block>
						<li th:class="${cervejas.last} ? disabled">
							<a th:remove="${cervejas.last} ? tag" th:href="${cervejas.urlPagina(cervejas.number + 1)}">
								<span>&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div> -->
		</div>
	
	</section>
</body>
</html>