<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<div id="output"></div>
	<h1>WebSocket</h1>
		<script>
			var wsUri = "ws://localhost:8080/brewer/ws/teste";
			var webSocket = new WebSocket(wsUri);
			function init(){
				webSocket.onmessage = function(message){
					alert();
				};
			}
			function onMessage(message){
				writeToScreen(message);
			}
			function writeToScreen(message){
				var pre = document.createElement('p');
				pre.style.wordWrap = 'break-word';
				pre.innerHTML = message;
				
				document.getElementById('output').append(pre);
			}
			window.addEventListener('load', init, false);
		</script>
</body>
</html>